@media (min-width: 720px) { 
    .even-weather {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
        width: 90%;
        margin: 0 auto;
    }

    .events-card {
        max-width: 1300px;
        grid-column: span 2;
        gap: 0.5rem;
        margin: 2rem;
    }

    .weather {
        grid-column: span 1;
    }

    .forecast card {
        grid-column: span 1;
    }

    footer {
        display: flex;
        flex-direction: row;
    }
}