@media (min-width: 720px) { 

    /* ----- HEADER + NAVIGATION ----- */

    .header-inner {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        max-width: var(--max-width);
        margin: 0 auto;
        gap: 1.5rem;
    }

    .site-logo {
        grid-column: 1;
    }

    .title-group {
        grid-column: 2;
        text-align: left;
        justify-self: center;
    }

    .navigation {
        display: block;
        grid-column: 3;
        justify-self: end;
    }

    .navigation ul {
        display: flex;
        gap: 1.5rem;
        margin: 0;
    }

    .navigation a {
        padding: .5rem;
        border-bottom: none;
        text-decoration: none;
        font-size: 1rem;
    }

    .hamburger {
        display: none;
    }

    main>h1 {
        grid-column: 1 / -1;
    }

    .even-weather {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
        width: 90%;
        margin: 0 auto;
    }

    .events-card {
        max-width: 1300px;
        grid-column: span 2;
        gap: 0.5rem;
        margin: 2rem;
    }

    .weather {
        grid-column: span 1;
    }

    .forecast{
        grid-column: span 1;
    }

    #spotlights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap);
    }

    .spotlight-card {
        margin: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
    }
}