:root {
    --primary-color: #5488c4;
    --background-color: #cbdefa;
    --text-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 0;
}

.germany {
    padding: 20px;
    background-color: var(--primary-color);
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
}

.germany :hover {
    background-color: #4178b8;
    border-radius: 12px;
    transition: background-color 0.3s, border-radius 0.6s;
}

.current-temp {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

.weather-description {
    font-size: 34px;
    margin: 10px 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Arial', sans-serif;
}