:root {
    --background: #F8F5E4;
    --text: #111111;
    --primary: #1A2A40;
    --accent: #D4A017;
    --accent2: #976508;
    --light-text: #ffffff;

    --neutral: #F0EAD6;
    --secondary: #C8B78A;

    --heading-font: 'Spectral SC', serif;
    --body-font: 'Crimson Pro', serif;

    --radius: 10px;
}


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: var(--background);
    color: var(--text);
    transition: background .4s ease, color .4s ease;
}

button,
.deity-btn,
.card {
    transition: var(--background) 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

/* Header */
.site-header {
    background: var(--neutral);
    padding: 1rem;
    border-bottom: 2px solid var(--secondary);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--heading-font);
    font-size: 1.6rem;
    color: var(--primary);
}

/* Hamburger */
.menu-btn {
    width: 38px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-btn .bar {
    height: 4px;
    background: var(--primary);
    border-radius: 4px;
}

.desktop-nav {
    display: none;
}

.mobile-menu {
    background: var(--background);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: 1rem;
    position: absolute;
    top: 70px;
    right: 15px;
    width: 180px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

.mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobile-menu a {
    background: var(--primary);
    color: var(--light-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-family: var(--body-font);
    font-size: 1rem;
    display: block;
    text-align: center;
}

.mobile-menu a:hover {
    background: var(--accent);
}

.hidden {
    display: none;
}

.menu-btn.open .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11px) translateX(5px);
}

.menu-btn.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.open .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px) translateX(6px);
}

.menu-btn .bar {
    transition: 0.3s;
}

.theme-reset {
    padding: .5rem 1rem;
    border-radius: 8px;
    background: var(--accent2);
    color: var(--light-text);
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

.theme-reset:hover {
    background: var(--accent);
}





/* Footer */
.site-footer {
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 3rem;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer-social img {
    width: 32px;
    height: 32px;
    transition: transform .3s ease, opacity .3s ease;
}

.footer-social img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}