@media (min-width:720px){
    .menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .desktop-nav ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    .desktop-nav a {
        font-family: var(--font-body);
        text-decoration: none;
        color: var(--primary);
        font-size: 1.1rem;
        padding: 0.4rem 0.8rem;
        border-radius: 20px;
        transition: 0.2s;
    }

    .desktop-nav a:hover {
        background: var(--accent2);
        color: var(--light-text);
    }

    .map-wrapper {
        padding: 2rem;
    }

    .map-container {
        max-width: 480px;
    }

    .map-compass {
        width: 80px;
        top: -30px;
    }

    .cards{
        grid-template-columns:repeat(2,1fr);
        gap:1.25rem;
    }

    .hero{
        display:flex;
        align-items:center;
        gap: 1rem;
        text-align:left;
        padding:1.5rem;
    }

    .hero h1{
        font-size:2rem;
    }

    .lead{
        font-size:1rem;
    }

    .site-logo{
        font-size:1.25rem;
    }
}

@media (min-width:1024px){
    .container{
        padding:0 2rem;
    }

    .hero h1{
        font-size:2.4rem;
    }
}